<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout :: header">

<title>List Product Type</title>
</head>

<body class="animsition">
	<div class="page-wrapper">
		<header th:replace="/layout :: header-mobile"></header>
		<aside th:replace="/layout :: sidebar"></aside>
		<div class="page-container">
			<header th:replace="/layout :: header-desktop"></header>
			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<!-- DATA TABLE -->
								<h3 class="title-5 m-b-35">List User</h3>
								<div class="table-data__tool">
									<div class="table-data__tool-right">
									</div>
								</div>
								<input type="hidden" th:value="${mess}" id="message"> <input
									type="hidden" th:value="${messError}" id="messages">
								<div class="table-responsive table-responsive-data2">
									<table class="table table-data2">
										<thead>
											<tr>
												<th>ID</th>
												<th>Full Name</th>
												<th>Email</th>
												<th>Gender</th>
												<th>Role</th>
											</tr>
										</thead>
										<tbody>
											<tr class="tr-shadow" th:each="user : ${listUser}">
												<td th:text="${user.id}"></td>
												<td th:text="${user.fullName}"></td>
												<td th:text="${user.email}"></td>
												<td th:text="${user.gender}"></td>
												<td th:text="${user.role.getName()}"></td>
												<td>
													<div class="table-data-feature">
														<button class="item" data-toggle="tooltip"
															data-placement="top" title="Send">
															<i class="zmdi zmdi-mail-send"></i>
														</button>
														<a
															th:href="@{/user/{id}/edit(id=${user.id})}"
															class="item" data-toggle="tooltip" data-placement="top"
															title="Edit"> <i class="zmdi zmdi-edit"></i>
														</a> <a
															th:href="@{/user/{id}/delete(id=${user.id})}"
															class="item" data-toggle="tooltip" data-placement="top"
															onclick="return confirm('Are you sure you want to delete this product ?')"
															title="Delete"> <i class="zmdi zmdi-delete"></i>
														</a>
														<button class="item" data-toggle="tooltip"
															data-placement="top" title="More">
															<i class="zmdi zmdi-more"></i>
														</button>
													</div>
												</td>
											</tr>
											<tr class="spacer"></tr>
										</tbody>
									</table>
								</div>
								<!-- END DATA TABLE -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="copyright">
									<p>
										Copyright © 2018 Colorlib. All rights reserved. Template by <a
											href="https://colorlib.com">Colorlib</a>.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Jquery JS-->
	<script th:src="@{/cooladmin/vendor/jquery-3.2.1.min.js}"></script>
	<!-- Bootstrap JS-->
	<script th:src="@{/cooladmin/vendor/bootstrap-4.1/popper.min.js}"></script>
	<script th:src="@{/cooladmin/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
	<!-- Vendor JS       -->
	<script th:src="@{/cooladmin/vendor/slick/slick.min.js}">
		
	</script>
	<script th:src="@{/cooladmin/vendor/wow/wow.min.js}"></script>
	<script th:src="@{/cooladmin/vendor/animsition/animsition.min.js}"></script>
	<script
		th:src="@{/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
		
	</script>
	<script
		th:src="@{/cooladmin/vendor/counter-up/jquery.waypoints.min.js}"></script>
	<script
		th:src="@{/cooladmin/vendor/counter-up/jquery.counterup.min.js}">
		
	</script>
	<script
		th:src="@{/cooladmin/vendor/circle-progress/circle-progress.min.js}"></script>
	<script
		th:src="@{/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
	<script th:src="@{/cooladmin/vendor/chartjs/Chart.bundle.min.js}"></script>
	<script th:src="@{/cooladmin/vendor/select2/select2.min.js}">
		
	</script>
	<!-- toast -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script type="text/javascript">
		var mess = document.getElementById("message").value;
		if(mess != ""){
			 toastr.success(mess, 'message');
		}
		
		var messages = document.getElementById("messages").value;
	    if (messages != "") {
	        toastr.error(messages, 'message');
	    }
	</script>
	
	<!-- Main JS-->
	<script th:src="@{/cooladmin/js/main.js}"></script>
</body>

</html>
<!-- end document-->
